header {
    background-color:#fff;
    border-bottom:5px #ccc solid;
}

.navbar-brand {
    background-color: #4AAAA5;
    padding: 10px;
    color: #fff !important;
}

#name {
    color:#ffffff;
    background-color:#4aaaa5;
    padding: 15px 25px 15px 25px;
    display: inline-block;
}

body {
    background-color:#d3d3d3;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777;
    margin:0;
    background-image: url("../images/gravel.png")
}

#body-content {
    margin-top: 30px;
    border-width:2px;
    border-color:#dddddd;
    background-color:#fff;
    border-style:solid;
    padding:20px;
    box-sizing: border-box;
}


.content-title {
    color:#4aaaa5;
}

.left-column {
    text-align: center;
}

#portfolioContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-item {
    position: relative;
    margin-bottom: 1.5rem;
}

hr {
    border-color:#ddd;
}

.caption {
    position: absolute;
    background-color:#4aaaa5;
    padding:15px;
    bottom:10px;
    width:100%;
    box-sizing:border-box;
    text-align: center;
    color:#fff;
}

footer {
    color:#ddd;
    font-size:10px;
    padding-top:30px;
    box-sizing:border-box;
    background-color:#666666;
    border-top: 5px #4aaaa5 solid;
    height:50px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

#contactBox {
    border-radius: 5px;
    background-color: #4AAAA5;
    color: #fff;
}

@media screen and (max-width: 992px) {
    .content-title {
        text-align: center;
    }

    footer {
        position: static;
    }
}

@media screen and (min-width: 993px) {
    .left-column {
        float: left;
        margin-right: 1rem;
        width: 250px;
        text-align: left;
    }
}

@media screen and (min-width: 770px) {
    .portfolio-item img {
        width: 250px;
        height: 250px;
    }
}
